<header class="cv__header">
    <h1>Thibaut Masset Stiegler</h1>

    <p><strong>Développeur fullstack senior avec plus de 15 ans d’expérience</strong>, j’accompagne les entreprises dans la création et l’optimisation de leurs plateformes web et SaaS. Spécialisé en <strong>PHP (Laravel, Symfony, …)</strong>, <strong>(Vue.js, React, …)</strong> et en <strong>optimisation de performances</strong>, j’interviens sur des projets nécessitant une architecture robuste et évolutive. Habitué au travail en équipe et en télétravail, je suis également à l’aise dans des rôles de <strong>lead tech</strong> et <strong>mentoring</strong>. </p>
</header>
