<nav class="menu">
    <a class="menu__item active" href="#">Anciennetée</a>
    <a class="menu__item" href="#">Type</a>
    <a class="menu__item" href="#">Techno</a>
    <a class="menu__item" href="#">Durée</a>
    <a class="menu__item" href="#">Rôle</a>
</nav>
